* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #82D8F5;
    font-family: system-ui;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    margin-top: 1em;
}

h1 {
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 2rem;
}

.homepage-info {
    border-radius: 1.5em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 2em;
    background-color: #1e3d59;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.Emissionsdaten {
    border-radius: 1.5em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    padding: 2em;
    background-color: #1e3d59;
    color: #FFFFFF;
}

h2 {
    padding: 1em;
    margin-bottom: 1em;
}

input {
    height: 2em;
    padding: 0.5em;
    border: 1px solid #d5e0e9;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    transition: .2s;
}

table {
    background-color: #2c3d4b;
    width: 100%;
    margin-bottom: 3em;
    border-collapse: collapse;
    border-radius: 1.5em;
}

thead th {
    cursor: pointer;
}

td,
th {
    color: #FFFFFF;
    text-align: left;
    padding: 0.5em;
}

.table-sortable thead {
    background-color: #4169E1;
}

.table-sortable th:first-child {
    border-radius: 1.5em 0 0 0;
}

.table-sortable th:last-child {
    border-radius: 0 1.5em 0 0;
}

.table-sortable tr:nth-child(even) {
    background-color: #48647b;
}

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #1e3d59;
    margin-top: auto;
    padding: 1em;
}

.nav-footer {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.nav-footer a {
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
    margin-right: 1em;
}

.nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #1e3d59;
}

nav li {
    list-style: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: rgb(130, 216, 245);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    background-color: rgb(226, 226, 226);
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    .homepage-info {
        border-radius: 1.5em;
        margin-top: 2em;
        margin-right: 0;
        margin-left: 0;
        padding: 2em;
        background-color: #1e3d59;
        color: #FFFFFF;
        font-size: 1.5rem;
    }

    .Emissionsdaten {
        border-radius: 1.5em;
        margin-top: 2em;
        margin-left: 0em;
        margin-right: 0em;
        margin-bottom: 2em;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1em;
        background-color: #1e3d59;
        color: #FFFFFF;
    }

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    table {
        background-color: #2c3d4b;
        margin-bottom: 3em;
        border-collapse: collapse;
        display: block;
        height: auto;
        overflow-y: auto;
    }

    td,
    th {
        color: #FFFFFF;
        text-align: left;
        padding: 0.5em;
        padding-right: 1.5em;
        padding-left: 1.5em;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #1e3d59;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}


.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(+45deg) translate(-5px, -6px);
}